#include <windows.h>
#include "w32res.h"

IDD_HUAWEICALC DIALOG DISCARDABLE  0, 0, 180, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Huawei Calculator"
FONT 8, "MS Sans Serif"
BEGIN
	CTEXT "Huawei Unlock Code Calculator", -1, 0, 10, 180, 20
	LTEXT "IMEI", -1, 10, 30, 30, 12
	EDITTEXT  IDT_IMEI, 46, 30, 80, 12, ES_NUMBER 
	LTEXT "Flash code", -1, 10, 43, 35, 12
	EDITTEXT  IDT_FLASHCODE, 46, 43, 80, 12 
	LTEXT "V1 code", -1, 10, 56, 30, 12
	EDITTEXT  IDT_V1CODE, 46, 56, 80, 12 
	LTEXT "V2 code", -1, 10, 69, 30, 12
	EDITTEXT  IDT_V2CODE, 46, 69, 80, 12 
	LTEXT "V201 code", -1, 10, 82, 35, 12
	EDITTEXT  IDT_V201CODE, 46, 82, 80, 12 
	
    DEFPUSHBUTTON   "&Calc",IDB_CALC,130,30,30,14
	PUSHBUTTON   "&Reverse",IDB_REVERSE,130,46,30,14
    PUSHBUTTON      "&Exit",IDCANCEL,130,62,30,14

END

